# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtualenv
venv/
.venv/
env/
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Coverage / tests
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
coverage.xml
junit.xml
.ruff_cache/
_jenkins_reports/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
